<h1 class ="Home-title"> Welcome to Mahe's Todo Manager App </h1>

<h3 class ="Home-authentication">
  If you are a new user, <%= link_to "sign up", new_user_path%> first.
</h3>
<h3 class ="Home-authentication">
  If you are an existing user, <%= link_to "sign in", sessions_path %>.
</h3>
